@media (max-width: 460px) {
  html {
    width: 100%;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    border: 1px solid red;
  }

  .container {
    width: 100%;
  }

  .topHeader {
    font-size: 12px;
    padding: 5px;
  }

  .lowerHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
  }

  .lowerHeader .logo {
    background: none;
    width: 140px;
  }

  .lowerHeader .logo .img {
    filter: brightness(0);
  }

  .lowerHeader .logo img {
    filter: brightness(0);
    height: 41px;
    width: 174px;
    margin-left: -7px;
  }

  .logo {
    width: 140px;
  }

  .logo img {
    width: 103px;
    height: 31px;
  }

  ul.Login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: -17px;
  }

  .lowerHeader .Login .login_box {
    padding: 6px 17px;
  }

  .lowerHeader .Login .account_box {
    padding: 8px 17px;
    height: 47px;
    width: 160px;
    display: flex;
    justify-content: center;
  }

  .lowerHeader .Login .account_box a {
    font-size: 13px;
    margin: auto;
  }

  li.login_box {
    width: 160px;
    display: flex;
    justify-content: center;
  }

  li.account_box {
    width: 160px;
    padding: 6px 17px;
    display: flex;
    justify-content: center;
    height: 47px;
  }

  .menuButton i {
    display: block;
    font-size: 32px;
    margin-right: 18px;
    cursor: pointer;
  }

  .menuAndLogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  section.Hero {
    width: 100%;
    height: 700px;
  }

  section.Hero .container {
    width: 90%;
    height: 700px;
  }

  section.Hero .container h1 {
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    margin: inherit;
    margin-top: 10px;
  }

  .Hero .container .highlight {
    font-size: 68px;
  }

  .appointment_button {
    margin: auto;
    height: 106px;
  }

  .bakckgroundImage {
    display: none;
  }

  p.description {
    width: 100%;
    font-size: 19px;
  }

  #BankServices .bankservice {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1200px;
  }

  #BankServices .bankservice .serviceBox {
    height: 256px;
    width: 203px;
  }

  #BankServices .bankservice .iconBox {
    height: 40px;
    width: 40px;
  }

  #BankServices .bankservice .serviceBox h3 {
    margin: 10px;
    margin-top: 11px;
    line-height: 22px;
    font-size: 18px;
  }

  #BankServices .bankservice .serviceBox i {
    font-size: 23px;
  }

  .onlineBanking h1 {
    font-size: 32px;
    line-height: 1.3;
  }

  #allservices .container .fourService {
    height: 1336px;
  }

  section#allservices {
    margin-top: 100px;
  }

  section#allservices .container {
    padding-top: 30px;
    width: 100%;
  }

  section#emi {
    width: 100%;
  }

  section#emi .container {
    width: 100%;
    height: 1350px;
  }

  #emi .emiCalculator {
    height: 600px;
  }

  #emi .emiCalculator .image {
    margin-top: 140px;
  }

  #emi .emiCalculator .image img {
    width: 100%;
  }

  #emi .emiCalculator .calculator {
    padding: unset;
    width: 96%;
  }

  #emi .emiCalculator .calculator h1 {
    font-size: 27px;
    width: 100%;
  }

  #emi .emiCalculator .calculator h4 {
    font-size: 15px;
  }

  input[type="number"] {
    width: 90%;
    margin-left: 20px;
  }

  .pictureSection .rating {
    width: 200px;
    padding: 3px;
  }

  .pictureSection .circlePart {
    height: 153px;
    width: 153px;
    bottom: -35px;
    right: 67px;
  }

  .pictureSection .experienceCircle {
    height: 224px;
    width: 224px;
    bottom: -73px;
    right: 32px;
  }

  .pictureSection .circlePart h1 {
    font-size: 49px;
    margin-bottom: -14px;
  }

  .jolchap {
    display: none;
  }

  .calculator {
    width: 100%;
  }

  #commercialBank .container .heading {
    left: 7px;
  }

  .commercialBackground {
    width: 100%;
    margin-top: -100px;
  }

  .commercialBackground .container,
  #commercialBank .container,
  section#commercialBank {
    width: 100%;
  }

  #commercialBank .bankInfo {
    width: 95%;
    margin-left: 10px;
    height: 184px;
  }

  #commercialBank .bankInfo .part {
    display: flex;
    height: 95%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #commercialBank .bankInfo .part .text {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  #commercialBank .bankInfo .part .icon i {
    height: 60px;
    width: 60px;
    font-size: 22px;
  }

  .clt h2,
  .transc h2,
  .brnch h2 {
    color: rgb(103, 103, 103);
    margin-top: 0px;
    font-size: 13px;
  }

  .clt h1,
  .transc h1,
  .brnch h1 {
    font-size: 24px;
    margin-left: 0px;
    margin-top: -40px;
  }

  section#apps .container {
    width: 100%;
    height: 1500px;
  }

  #apps .app .imagePart {
    width: 100%;
    height: 100px;
  }

  #apps .app .imagePart .image1 {
    display: none;
  }

  #apps .app .imagePart .image2 {
    width: 54%;
    height: 550px;
  }

  #apps .app .imagePart .image3 {
    width: 47%;
    left: 112px;
    top: 76px;
  }

  #apps .app .imagePart .image4 {
    width: 37%;
    top: 164px;
    left: 255px;
  }

  section#apps .app {
    height: 550px;
  }

  .downLoadapps {
    display: flex;
    flex-direction: column;
  }

  .appDescription h3 {
    text-align: center;
    margin-bottom: 7px;
  }

  .appDescription h1 {
    text-align: center;
    font-size: 30px;
  }

  #news .mediaUpdate h1 {
    width: 100%;
    line-height: 1.2;
    font-size: 38px;
  }

  section#news {
    width: 100%;
    height: 1200px;
  }

  .mediaPictures {
    width: 85%;
    margin: auto;
    margin-top: 30px;
  }

  #news .mediaUpdate {
    height: 300px;
    width: 100%;
  }

  .mediaPictures .board {
    width: 100%;
    background: #050303bd;
  }

  .mediaPictures .board img {
    width: 100%;
    margin: auto;
    height: 450px;
    border-radius: 22px;
  }

  .headline h3 {
    font-size: 26px;
  }

  section#reviews {
    margin-top: 0px;
    height: 770px;
  }

  #reviews .userReview {
    height: 368px;
  }

  #reviews .userReview .review {
    width: 85%;
    margin-top: 100px;
  }

  .review.two,
  .review.three,
  .board.two,
  .board.three {
    display: none;
  }

  .footerMiddle {
    width: 86%;
  }

  .Subscribe {
    display: flex;
    flex-direction: row;
  }

  .Subscribe .email {
    width: 46%;
  }

  .redborder .container,
  section#reviews .container {
    width: 100%;
  }

  ul.leftMenu,
  ul.rightMenu {
    width: 100%;
  }

  .experienceCircle {
    right: 13px;
  }

  .copyRightText p {
    text-align: center;
  }
}